*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
img{width: 100%; display: block;}
.square_circle{
    width:100px;
    height:100px;
    background-color:purple;
    transition: ease-in-out 800ms;
}
.square_circle:hover{
    border-radius: 50%;
    background-color: aqua;    
}
/*zoom effect */
.zoomcontent, .slidercontent{
    width: 500px;
    position: relative;
}
.zoomcontainer, .slidercontainer{
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgba(50, 50, 50, 0.7);
    text-align: center;
    padding-top: 30%;
    color : white;
    font-size: 3em;
    transform: scale(0);
    transition: ease-in-out 1s;
}
.zoomcontainer .zoomcontent{
    transform: scale(1);
}












.card{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px black;
    transition: ease-in-out 50ms;
}
.card:hover{
    transform: scale(0.95);
    box-shadow: none;


    
}



